{
  "plugins": [
    "syntax-decorators",
    "transform-decorators-legacy",
    ["babel-root-slash-import", { rootPathSuffix: 'src' }],
    "transform-class-properties"
  ],
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ]
}
