$spacer: 8px;

body {
  font-family: 'Roboto', sans-serif;
}

.content-area {
    padding: $spacer;
}

.gif-card {
    margin: 0 $spacer $spacer 0;
    max-width: 200px;

    .image {
        width: 200px;
        height: 150px;
    }
}

