$spacer: 8px;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

.layout {
    height: 100vh;
}

.panel-main {
    width: 100%;
}

.content-area {
    padding: $spacer;
}

.loading-spinner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .loading-spinner {
        display: flex;
        justify-content: center;
    }
}

.gif-grid {
    display: flex;

    .gif-card {
        margin: 0 $spacer $spacer 0;
        width: 200px;
        min-height: 300px;

        .title {
        }

        .image {
            width: 200px;
            height: 150px;
        }
    }
}


